.blog_list{
    display: flex;
}
.boxContainer {
    display: grid;
    /*grid-template-columns: repeat(0, 1fr);  Chia thành 3 cột có độ rộng bằng nhau */
    grid-template-rows: repeat(4, 1fr); /* Chia thành 2 hàng có chiều cao bằng nhau */
    margin: 20px; /* Khoảng cách giữa các ô */
    gap: 20px;
}

.box {
    display: flex; /* Sử dụng Flexbox để chia thành hai cột */
    background-color: #ccc;
    height: 150px;
    width: 600px;
    border: solid 3px;
    border-color: #333;

}
.video {
    /*flex: 1;  Chiếm 50% chiều rộng */
    flex-basis: 30%;
    border: solid 3px;
    border-color: #333;
    height: 120px;
    width: 200px;
    margin: 10px;
}

.search{
    display: block;
    height: 600px;
    width: 450px;
    border: solid 3px;
    border-color: #333;
    background-color: #ccc;
/*    margin-left: 10px;*/
    
}

.search_box{
    display: block;
    height: 30px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 17px;
}

.search select{
    display: block;
    font-size: 15px;
    width: 90%;
    height: 35px;
    margin: 17px;
    align-items: center;
    justify-content: center;
}

.tn1{
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;   
}

.vid1{
    margin-left: 20px;
    border: solid 3px;
    border-color: #333;
    border-radius: 5px;
}

.tn2{
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.thumbnail_container{
    margin-bottom: 40px;
}
.vid2{
    margin-left: 20px;
}

.contact{
    text-align: center;
}
/* .content {
    flex: 1;  Chiếm 50% chiều rộng
    flex-basis: 70%;
} */

.searchBox {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: inline-flex;
    max-width: 400px;
}

.form-control {
    flex: 1;
    border-radius: 5px 0 0 5px;
}

.btn {
    border-radius: 0 5px 5px 0;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0B5ED7;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .custom-button:hover {
    background-color: #0645a1;
    color: #ffffff;
    text-decoration: none;
  }