/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2023, 9:34:34 PM
    Author     : LENOVO
*/
.header-container {
    display: flex;
    align-items: center;
}

.header-container h1 {
    margin-right: 10px;
    margin-bottom: 0;
}
.image-upload input[type="file"] {
    display: none;
}

.image-upload label {
    display: block;
    cursor: pointer;
}