.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_logo {
    width: 150px;
}

.header_menu ul {
    display: flex;
}

.header_menu ul li {
    margin: 12px;
    list-style-type: none;
    display: flex;
}

.header_menu ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(52, 178, 201);
    font-weight: bold;
    padding: 10px;
}

.action{
    /*position: flex;*/
    top: 20px;
    right: 30px;
}

.action .profile{
    position: relative;
    width: 80px;
    height: 80px;
    border: solid #ccc;
    right: 20px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 140px;
    right: 25px;
    background: #ccc;
    width: 200px;
    /*box-sizing: 0 5px 25px;*/
    border-radius: 15px;
    transition: 0.5s;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10;
}

.menu.open_menu{
    max-height: 400px;
}

.action .menu .active{
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #ccc;
    transform: rotate(45deg);
}

.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img{
    opacity: 1;
}

.action .menu ul li:hover a{
    font-weight: 600;    
}

.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
