/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 8:29:26 AM
    Author     : Acer
*/
.card{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-header{
    background: linear-gradient(to right, #5CE1E6, #0578A4);
}
.btn{
    background: linear-gradient(to right, #5CE1E6, #0578A4);
}
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(0, 0%, 98%);
    ;
}
btn:hover{
    background-color: #26890C;
}
@keyframes bgcolor {
    0% {
        background-color: #5CE1E6
    }

    30% {
        background-color:  #0578A4
    }

    60% {
        background-color: #26890C
    }

    90% {
        background-color: #f1368CE
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
