.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo img {
    width: 20%;
}
.header_menu ul{
    display: flex;  
}
.header_menu ul li{
    margin: 12px;
    list-style-type: none;
    display: flex;
}
.header_menu ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(52, 178, 201);
    font-weight: bold;
    padding: 10px;
}

.slider{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background: #333;
    border: solid 5px;
    border-color: #333;
    border-radius: 5px;
}

.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide_img img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.previous, .next{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    z-index: 99;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
}
.slide_img{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
    background: #fff;
}
.row{
    display: flex;
}
.boxContainer {
    margin-left: 20px;
    display: grid;
    width: 40px;
    height: 40px;
    grid-template-columns: repeat(3, 1fr); /* Chia thành 3 cột có độ rộng bằng nhau */
    grid-template-rows: repeat(2, 1fr); /* Chia thành 2 hàng có chiều cao bằng nhau */
    gap: 20px; /* Khoảng cách giữa các ô */            
}

.box {
    display: flex; /* Sử dụng Flexbox để chia thành hai cột */
    background-color: #ccc;
    border: solid 3px;
    border-color: #333;
    border-radius: 5px;
    margin: 20px;
}

.thumbnail_container{
    background-color: #ccc;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 35%;
    height: 0;
    padding-bottom: 35%;
    border: solid 3px;
    border-color: #333;
    border-radius: 5px;
}

.tn1{
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;   
}

.vid1{
    margin-left: 40px;
    border: solid 3px;
    border-color: #333;
    border-radius: 5px;
}

.tn2{
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.vid2{
    margin-left: 40px;
}

.contact{
    text-align: center;
}

/*.post_Container{
    display: grid;
    width: 40px;
    height: 40px;
    grid-template-columns: repeat(1, 1fr);  Chia thành 1 cột  
    grid-template-rows: repeat(2, 1fr);  Chia thành 2 hàng có chiều cao bằng nhau 
    border: solid aqua 3px;
    margin: 20px;  Khoảng cách giữa các ô
}*/

.post_box{
    /*display: flex;*/
    border: solid 3px;
    border-color: #333;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 250px;
    width: 750px;
    margin-left: 20px;
}

.post_box .content{
    display: flex;
}

.post_box h3{
    text-align: center;
}

.th_cnt{
    display: flex;
}
.footer {
    color: aliceblue;
    background-color: #08A2C7;
}

.footer_detail {
display: flex;
margin-left: 25%;
}

.footer_detail div {
width: 50%;
margin: 25px;
}
