/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 8:29:26 AM
    Author     : Acer
*/
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #5CE1E6, #0578A4);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #5CE1E6, #0578A4);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
a{
    text-decoration: none;
    color: black;
    
}
*{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.7rem;
    }
/*@keyframes bgcolor {
    0% {
        background-color: #5CE1E6
    }

    30% {
        background-color:  #0578A4
    }

    60% {
        background-color: #26890C
    }

    90% {
        background-color: #f1368CE
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
*/
