/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 13, 2023, 9:03:04 PM
    Author     : dai
*/
.table-view{
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: auto; /* to center the form horizontally */
    font-size: 20px;
}

.table-content{
    background:linear-gradient(to right, #5CE1E6,#0079A7);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-pricePackage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
.button-close{
    display:flex;
    justify-content: flex-end;
}