.card{
   
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-header{
    background: linear-gradient(to right, #5CE1E6, #0578A4);
}
.btn{
    background: linear-gradient(to right, #5CE1E6, #0578A4);
}
*{
   font-family: 'Montserrat', sans-serif;
    }
    body{
        background-color: hsl(0, 0%, 98%);;
    }
    btn:hover{
        background-color: #26890C;
    }
    