/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2023, 6:46:43 PM
    Author     : Acer
*/
table {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

tr {
    width: 80%;
}

td, th {
    padding: 8px;
    width: 256px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    background-color: gray;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    text-decoration: none;
    opacity: 0.7;
    color: white;
}

.button-div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    margin-left: 30px;

}
