/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 9:12:58 AM
    Author     : LENOVO
*/

.modal_popUp {
    display: none; /* Ẩn ban đầu */
    position: fixed; /* Cố định vị trí */
    z-index: 999999; /* Hiển thị trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*    overflow: auto;*/
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền mờ */
}

.modal-content_popUp {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /*thay đổi cái chiều rộng ở đây */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#changePasswordForm input {
    padding: 10px;
    margin:20px;
}

.modal-header{
    background:linear-gradient(to right, #5CE1E6,#0079A7);
    color: white;
}

.modal-title{
    text-align: center;
}

.info{
    align-content: center
}

.modal-footer{
    display: flex;
    justify-content: space-between
}

.button{
    display: flex;
    justify-content: space-between
}

.left-button{
    display: flex
}

.table{
    display: grid;
    text-align: center
}

body{
    font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
}
.modal_popUp2 {
    display: none; /* Ẩn ban đầu */
    position: fixed; /* Cố định vị trí */
    z-index: 999999; /* Hiển thị trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*    overflow: auto;*/
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền mờ */
}

.modal-content_popUp2 {
    background-color: #fefefe;
    margin:auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /*thay đổi cái chiều rộng ở đây */
}

.text-sidebar {
    color: #fff;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0578A4;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#0578A4 /*#6d7fcc*/;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: white;
    background: #5CE1E6  ;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}






#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
